package playground

import "github.com/JamesTiberiusKirk/recipe-cms/site/components"

templ testPage() {
	@components.Layout() {
		<div class="w-full">
			<form
				id="recipe_form"
				name="recipe"
				hx-ext="json-enc-nested"
				hx-post
				hx-swap="outerHTML"
				hx-trigger="click from:#submit-all"
			>
				@components.TextArea(components.TextAreaProps{
					ID:"test_area",
					Value: "# Default markdown\n\n- test bullet",
					Name: []string{"test", "area"},
					MarkdownPreview: true,
					Rows: 20,
			})
			</form>
		</div>
	}
}
