package components

import "github.com/JamesTiberiusKirk/recipe-cms/models"
import "github.com/JamesTiberiusKirk/recipe-cms/common"

templ UnitForm(formNamePrefix string, selected models.Unit, units []models.Unit) {
	<select class="input w-16" name={ formNamePrefix + "[unit]:object" }>
		for  _, unit := range units {
			<option value={ common.ToJson(unit) } selected?={ selected.Name == unit.Name }>
				{ unit.DisplayName }
			</option>
		}
	</select>
}
